*{
    margin: 0;
    padding: 0;
}.image-back{ 
background-image: url(img2.jpg);
background-repeat: no-repeat; ;
  background-size: 100%;
  color: rgba(255, 255, 255, 0.956);

}
#navebar{
    height: 60px;
    justify-content: center;
    display: flex
    
    
}a{margin-right: 100px;
    margin-top: 10px;
}.menu-bar{
    margin-left: 150px;
}button{
    border-radius: 4px;
    height: 40px;
    margin-top: 4px;
    padding: 3px 10px;
    margin-left: -75px;
}.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 80px;
}.hero-content{
    width: 50%;
}.hero-content p{
    font-size: 18;
 }.process button{
margin: 30px 40px;
}.button-1{ 
    color: white;
    background-color: rgb(79, 171, 232);
 }.button-2{
    background-color: initial;
    color: white;
 }.button-3{
    background-color: initial;
    color: white;
 }
